html, body {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  place-content: center;
  justify-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: auto;
  place-content: center;
  justify-items: center;
}

.button__1 {
  width: 120px;
  height: 50px;
  border: 1.5px solid black;
  border-radius: 25px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
}
.button__2 {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: black;
  font-size: 18px;
  font-weight: bold;
}
.button__3 {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #41A5FF;
  font-size: 15px;
  font-weight: bold;
}
.button__4 {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: lightblue;
  background-color: beige;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
.button__5 {
  width: 100px;
  height: 40px;
  border: 1px black solid;
  border-radius: 10px;
  color: white;
  background-color: lightgrey;
  font-size: 20px;
  font-weight: bold;
  font-family: system-ui;
}
.button__6 {
  position: relative;
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  background: linear-gradient(135deg, orange, rgb(204, 26, 115));
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}
.button__6::before {
  content: "";
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  border-radius: 10px;
  background-color: black;
  z-index: -1;
}
.button__6::after {
  content: attr(data);
  background: linear-gradient(135deg, rgb(204, 26, 115), orange);
}
.button__6:hover {
  background: linear-gradient(135deg, rgb(204, 26, 115), orange);
}
.button__6:hover::before {
  opacity: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.button__7 {
  width: 100px;
  height: 50px;
  border: 2px black solid;
  border-radius: 10px;
  color: black;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 6px 6px 2px 1px rgb(0, 0, 0);
  transition: box-shadow 100ms ease-in 100ms;
}
.button__7:hover {
  color: white;
  background-color: black;
  box-shadow: none;
}
.button__8 {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: purple;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 6px 6px 2px 1px purple;
  transition: box-shadow 100ms ease-in 100ms;
}
.button__8:hover {
  color: white;
  background-color: purple;
  box-shadow: none;
}
.button__9 {
  width: 100px;
  height: 40px;
  background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%);
  border: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}
.button__9:hover {
  background-position: right center;
  color: #fff;
}
.button__10 {
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #FF0072;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #FF0072;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}
.button__10::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #FF0072;
  z-index: -1;
}
.button__10:hover, .button__10:focus {
  color: white;
}
.button__10:hover::before, .button__10:focus::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.button__10:active {
  transform: scale(0.9);
}
.button__11 {
  --color: #2678d6;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 12px;
  color: var(--color);
}
.button__11::after, .button__11::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}
.button__11::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}
.button__11:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}
.button__11:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}
.button__11:hover {
  color: var(--color2);
}
.button__11:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

/*# sourceMappingURL=styles.css.map */
